* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}

body{
	font-family: "Inika";
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	/* border: 3px solid black; */
	max-width: 1220px;
	margin: 0 auto;
}

.content{
	flex: 1 1 auto;
}

.colored_green{
	color: #499A18;
}

.colored_orange{
	color: #E06733;
}

header{
	background-color: #EDF2EC;
}

.header_row{
	display: flex;
	justify-content: space-between;
}

.header_logo{
	font-size: 16px;
	line-height: 50px;
	margin: 42px 0;
	color: black;
	padding: 0 0 0 23px;
	background: url(../img/icons/icon.png) 0 10px no-repeat;
	background-size: 19px 20px;
}

.logo_href{
	color: black;
}

.header_nav{
	margin: 42px 0;
}

.header_nav_href{
	color: #010201;
	margin: 0 0 0 41px;
	line-height: 50px;
	font-size: 16px;
}

.intro{
	background-color: #EDF2EC;
	padding: 62px 0;
}

.intro_row{
	display: flex;
	justify-content: space-between;
}

.intro_image{
	flex: 0 0 449px;
}

.intro_image img{
	max-width: 100%;
}

.intro_body{
	color: #717171;
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 549px;
	margin: 34px 0;
}

.intro_title{
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
}

.intro_text{
	font-size: 20px;
	line-height: 35px;
}

.intro_btn{
	display: inline-block;
	align-self: flex-start;
	border: 2px solid #E06733;
	border-radius: 10px;
	color: #000000;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	padding: 14px 27px;
}

.intro_btn:hover{
	background-color: #E06733;
	color: #FFFFFF;
}

.about{
	background-color: #fff;
	padding: 93px 0;
}

.about_row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about_body{
	display: flex;
	flex-direction: column;
	max-width: 605px;
}

.about_title{
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
	padding-bottom: 40px;
	max-width: 463px;
}

.about_text{
	color: #636060;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	line-height: 30px;
}

.about_image{
	flex: 0 0 464px;
}

.about_image img{
	max-width: 100%;
}

.services{
	background-color: #EDF2EC;
}

.services_row{
	display: flex;
	flex-direction: column;
}

.services_categories{
	padding: 40px 0 90px 0;
}

.categories_row{
	display: flex;
	justify-content: space-between;
	max-width: 1007px;
	align-items: center;
}

.services_title{
	color: #499A18;
	max-width: 306px;
	font-size: 40px;
	line-height: 52px;
}

.services_list{
	display: flex;
	column-gap: 36px;

}

.services_category{
	color: #E06733;
	font-size: 20px;
	line-height: 26px;
	border: 1px solid #E06733;
	border-radius: 5px;
	background-color: transparent;
	padding: 12px 40px;
	max-height: 50px;
	width: 161px;
}

.services_category:hover{
	color: #bc4411;
    box-shadow: 1.5px 2px 3px 1px #7e2904;
}

.services_category:active{
	background-color: #E06733;
	color: #FFFFFF;
}

.items_row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    row-gap: 55px;
    padding-bottom: 121px;
}

.service_item{
	display: flex;
	flex-direction: column;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	overflow: hidden;
}

.item_image{
	max-width: 330px;
	max-height: 350px;
}

.item_image img{
	max-width: 100%;
}

.item_body{
	text-align: center;
	font-family: 'Inter', sans-serif;
}

.item_body h3{
	display: block;
	color: #E06733;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	margin: 10px auto;
}

.item_body p{
	display: block;
	color: #717171;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 36px;
}

.prices{
	font-family: "Inter", sans-serif;
	padding: 40px 0 100px 0;
}

.prices_row{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prices_plans{
	display: flex;
	flex-direction: column;
}

.prices_plans h3{
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
	padding-bottom: 60px;
}

.plans{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 32px;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	padding: 34px 41px;
}

.plan_item{
	width: 250px;
	background: #EDF2EC;
	border-radius: 20px;
	padding: 16px 40px;
	display: flex;
	justify-content: space-between;
}

.plan_item p{
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}

.plan_arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
    height: 16px;
    background-color: #AEA1A1;
    border-radius: 50%;
	padding-top: 2px;
}

.arrow{
	width: 6px;
	height: 6px;
	border-right: #000000 2px solid;
	border-top: #000000 2px solid;
	transform: rotate(-45deg);
}

.prices_contact{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 452px;
}

.prices_contact h3{
	color: #000000;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: right;
	padding-bottom: 38px;
}

.prices_contact button{
	font-family: "Inika", serif;
	color: #E06733;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	border: 1px solid #E06733;
	border-radius: 5px;
	background-color: transparent;
	padding: 12px 0;
	max-height: 50px;
	width: 161px;
}

.prices_contact button:hover{
	color: #bc4411;
    box-shadow: 1.5px 2px 3px 1px #7e2904;
}

.prices_contact_image{
	max-width: 166px;
	padding-top: 39px;
}

.prices_contact img{
	max-width: 100%;
}

.contact_us{
	background-color: #EDF2EC;
}

.contact_us_row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 52px;
}

.contact_us_image{
	max-width: 400px;
	max-height: 497px;
}

.contact_us_image img{
	max-width: 100%;
}

.contact_us_title{
	color: #499A18;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	padding-top: 8px;

}

.contact_us_cities{
	padding-top: 95px;
	padding-left: 40px;
}

.cities_item{
	width: 450px;
	background-color: #D6E7D2;
}

.cities_item_button{
	padding: 5px 35px 5px 35px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0.1px 3.5px 3px 0px rgba(0, 0, 0, 0.2);
	align-items: center;
}

.contact_us_cities p{
	font-family: "Inter", sans-serif;
	color: #717171;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 0.05em;
}

.contact_us_arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
    height: 16px;
    background-color: #AEA1A1;
    border-radius: 50%;
	padding-top: 2px;
}

.arrow-light{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer{
	padding: 40px 0;
	font-family: "Inter", sans-serif;
}

.footer_raw{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 50px;
}

.footer_copyright{
	display: flex;
	column-gap: 20px;
}

.footer_copyright a{
	color: black;
}

.social_networks{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	text-align: center;
}

.social_networks a{
	line-height: 50px;
}






/* 


.hi{
	background-color: #445162;
	padding: 50px 0;
}

.hi_row{
	display: flex;
	justify-content: space-between;
}

.hi_body{
	color: #f5f5f5;
	padding: 0 30px 0 0;
}

.hi_title{
	font-size: 60px;
	margin: 0 0 38px 0;
}

.hi_list{

}

.hi_list li{
	background: url('../img/icons/icon.png') 0 1px no-repeat;
	font-size: 20px;
	padding: 0 0 0 36px;
	margin: 0 0 15px 0;
	line-height: 22px;
}

.hi_list li:last-child{
	margin: 0;
}

.hi_image{

}

.what{
	padding: 50px 0;
}

.what_row{
	display: flex;
}

.what_image{
	flex: 0 0 430px;
}

.what_image img{
	max-width: 100%;
}

.what_body{
	flex: 1 1 auto;
	padding: 0 0 0 38px;
}

.what_title{
	margin: 0 0 33px 0;
}

.what_text{

}

.what_text p{
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.title{
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	font-weight: 300;
}

.columns{
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;
}

.columns_title{
	text-align: center;
	margin: 0 0 30px 0;
}

.columns_row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}

.columns_column{
	flex: 0 1 50%;
	margin-bottom: 30px;
	padding: 0 8px;
}

.columns_item{
	
}

.item{

}

.item_row{
	display: flex;
}

.item_image{
	flex: 0 0 200px;
}

.item_body{
	flex: 1 1 auto;
	padding: 0 0 0 15px;
}

.item_title{
	font-size: 24px;
	line-height: 30px;
	color: #445161;
	margin: 0 0 12px 0;
}

.item_text{
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.vertical{
	padding: 50px 0;
}

.vertical_title{
	text-align: center;
	margin-bottom: 30px;

}

.vertical_body{
	max-width: 990px;
	margin: 0px auto;
}

.vertical_row{
	display: flex;
	text-align: center;
	margin: 0px -22.5px;
}

.vertical_column{
	flex: 0 1 33.3333%;
	padding: 0px 22.5px;
	display: flex;
}

.vertical_item{
	background-color: #445162;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #445162;
	padding: 0 0 20px 0;
	display: flex;
	flex-direction: column;
}

.vertical_subtitle{
	font-size: 24px;
	text-transform: uppercase;
	padding: 12px 0;
}

.vertical_label{
	background-color: #fff;
	color: #445162;
	padding: 15px 0;
	font-size: 40px;

}

.vertical_text{
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 0 auto;
}

.vertical_text p{
	margin: 0 0 15px 0;
}

.vertical_text p:last-child{
	margin: 0;
}

.vertical_btn{
	display: block;
	background-color: #fff;
	margin: 0 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	color: #445162;
	font-size: 18px;
	font-weight: 700;
}

.footer{
	background-color: #f5f5f5;
}

.footer_raw{
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}

.footer_text{
	color: grey;
	font-size: 12px;
	letter-spacing: 0.3px;
} */